
<%- include("partials/header"); -%>

<div class="journal-page-content-wrapper">

  <div class="startingContent-wrapper">
    <h1 class="journal-heading fade-in">The Epiphany Journal</h1>

    <h4 class="fade-in" style="margin-bottom: 3rem">Tech, Education & Lifestyle</h4>

  </div>
  <div class="post-container">
    <% postGlobal.forEach((post) => { %>
      <a class="read-more" href="/journal/posts/<%= post._id %>" tabindex="1">
        <div class="post-content">
          <h2 class="fade-in"><%= post.title %></h2>
          <p class="post-date">March 22, 2020</p>
          <p class="post-highlight fade-in">
            <%= post.content.substring(0, 100) + " ..." %>
          </p>
        </div>
      </a>
  <% }); %>
  </div>


</div>


<%- include("partials/footer"); -%>
